<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Steve's App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FE2B2FC1C60B4DF004F8B06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FE2B3101C60B4E0004F8B06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FE2B31B1C60B4E0004F8B06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
